
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - stenic.io
  resources:
  - sqldatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - stenic.io
  resources:
  - sqldatabases/finalizers
  verbs:
  - update
- apiGroups:
  - stenic.io
  resources:
  - sqldatabases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - stenic.io
  resources:
  - sqlgrants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - stenic.io
  resources:
  - sqlgrants/finalizers
  verbs:
  - update
- apiGroups:
  - stenic.io
  resources:
  - sqlgrants/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - stenic.io
  resources:
  - sqlhosts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - stenic.io
  resources:
  - sqlhosts/finalizers
  verbs:
  - update
- apiGroups:
  - stenic.io
  resources:
  - sqlhosts/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - stenic.io
  resources:
  - sqlusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - stenic.io
  resources:
  - sqlusers/finalizers
  verbs:
  - update
- apiGroups:
  - stenic.io
  resources:
  - sqlusers/status
  verbs:
  - get
  - patch
  - update
