
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: sqlgrants.stenic.io
spec:
  group: stenic.io
  names:
    kind: SqlGrant
    listKind: SqlGrantList
    plural: sqlgrants
    singular: sqlgrant
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Name of the host
      jsonPath: .spec.hostRef.name
      name: Host
      type: string
    - description: Name of the user
      jsonPath: .spec.userRef.name
      name: User
      type: string
    - description: Name of the database
      jsonPath: .spec.databaseRef.name
      name: Database
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SqlGrant is the Schema for the sqlgrant API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SqlGrantSpec defines the desired state of SqlGrant
            properties:
              cleanupPolicy:
                description: 'Specifies how to handle deletion of a SqlUser. Valid
                  values are: - "Retain" (default): keeps the external resource when
                  the object is deleted; - "Delete": deletes the external resource
                  when the object is deleted;'
                enum:
                - Retain
                - Delete
                type: string
              databaseRef:
                description: Reference to the SqlUser
                properties:
                  name:
                    description: Name of the SqlObject
                    type: string
                  namespace:
                    description: Namespace of the SqlObject
                    type: string
                type: object
              grants:
                description: List of grants
                items:
                  type: string
                type: array
              hostRef:
                description: Reference to the SqlHost
                properties:
                  name:
                    description: Name of the SqlObject
                    type: string
                  namespace:
                    description: Namespace of the SqlObject
                    type: string
                type: object
              userRef:
                description: Reference to the SqlUser
                properties:
                  name:
                    description: Name of the SqlObject
                    type: string
                  namespace:
                    description: Namespace of the SqlObject
                    type: string
                type: object
            required:
            - databaseRef
            - grants
            - hostRef
            - userRef
            type: object
          status:
            description: SqlGrantStatus defines the observed state of SqlGrant
            properties:
              created:
                description: Boolean indicating the creation process has started
                type: boolean
              creationTimestamp:
                description: Timestamp when the user was first created.
                format: date-time
                type: string
              currentGrants:
                items:
                  type: string
                type: array
              lastModifiedTimestamp:
                description: Timestamp when the user was last updated/checked.
                format: date-time
                type: string
            required:
            - created
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
