
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: sqlhosts.stenic.io
spec:
  group: stenic.io
  names:
    kind: SqlHost
    listKind: SqlHostList
    plural: sqlhosts
    singular: sqlhost
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SqlHost is the Schema for the sqlhosts API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SqlHostSpec defines the desired state of SqlHost
            properties:
              credentials:
                description: Credentials to use when connecting to the endpoint
                properties:
                  password:
                    description: Password for the sql user
                    type: string
                  username:
                    description: Username for the sql user
                    type: string
                type: object
              endpoint:
                description: Endpoint to manage
                properties:
                  host:
                    description: Host of the sql server. This can be either dns or
                      ip
                    type: string
                  port:
                    description: Port to use when connecting to the sql server
                    type: integer
                type: object
              engine:
                description: Engine of the external endpoint (like Mysql)
                enum:
                - Mysql
                type: string
            required:
            - credentials
            - endpoint
            - engine
            type: object
          status:
            description: SqlHostStatus defines the observed state of SqlHost
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
